// Fonts
@import url("https://use.typekit.net/bkb3tyc.css");
$default-font: proxima-nova, sans-serif;

// Colours


$primary-color:#313131;
$secondary-color: #099AA4;


$font-color:$primary-color;

$grey1:#102A43;
$grey2:#243B53;
$grey3:#334E68;
$grey4:#486581;
$grey5:#627D98;
$grey6:#829AB1;
$grey7:#9FB3C8;
$grey8:#BCCCDC;
$grey9:#D9E2EC;
$grey10:#F0F4F8;

$green1:#05400A;
$green2:#0E5814;
$green3:#207227;
$green4:#2F8132;
$green5:#3F9142;
$green6:#57AE5B;
$green7:#7BC47F;
$green8:#A3D9A5;
$green9:#C1EAC5;
$green10:#E3F9E5;