// Fonts

@import 'variables';
@import 'mixin';
@import 'product';

// Variables
$font-color:#282D32;
body {color:#282D32; font-family:$default-font !important;}
$banner-blue: #212C40;
$company-purple: #4d2072;
$logo-blue: #65D3FB;
$logo-red: #FF4E54;

.success-booked-modal {
    h4 {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .login-link {
        word-wrap: break-word;
    }
    .agentcy-person {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        .agent-title {
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .agent-image {
            max-width: 150px;
            max-height: 150px;
            border-radius: 100%;
            margin-bottom: 10px;
        }
        .contact-information {
            font-weight: bold;
        }
    }
}

.yopa-booking {
    padding: 50px 0;
    select {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn {
        margin-bottom: 1rem;
    }
    .invalid-form {
        border-color: red;
    }
}

.mover-insights {
    .the-product-tools {
        background: white !important;
    }
    .the-product-tools {
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0;
        }
        .heading{
            /* font: 700 1.625rem/4.6875rem 'Montserrat', sans-serif; */
            text-align: center;
            font-size: 2.3rem !important;
            margin-bottom: 30px;
            letter-spacing: 1px;
            color: #343D52;
            @include breakpoint($min: 48rem, $max: 74.9375rem) {
                font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
            }
            @include breakpoint($min: 0, $max: 47.9rem) {
                font: 700 1.125rem/2.5rem 'Montserrat', sans-serif;
                padding-top: 1rem;
            }
        }

        background-color: #999a9c;;
        color: #ffffff;

        .key-product-lca-icon {
            @include key-product-image-icon('lca-home.png');
        }
        .key-product-d-icon {
            @include key-product-image-icon('d-home.png');
        }
        .key-product-pt-icon {
            @include key-product-image-icon('pt-home.png');
        }
        .key-product-avm-icon {
            @include key-product-image-icon('avm-home.png');
        }
        .key-product {
          margin: 20px 0;
          .key-product-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
            }
          }

          .key-product-inner {
              h4 {
                  color: #343D52;
                  font-size: 1.2rem;
                  margin-bottom: 15px;
              }

              p {
                  color: #343D52;
                  font-weight: 300;
									font-size: 1rem;
									letter-spacing: 1px;
                  line-height: 1.3rem;
                  a {
                    font-size: 0.7rem;
                    color: white;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-decoration: underline;
                  }
              }

              margin: 20px 0;
              padding: 0rem 1rem;
              @include breakpoint($min: 48rem, $max: 74.9375rem) {
                  padding: 0rem 0rem;
              }
              @include breakpoint($min: 0, $max: 47.9rem) {
                  margin: 2rem;
                  padding: 0rem 0rem;
                  margin-bottom: 0;
              }
          }
        }

    }
    header {
        background: #86c5f4;
        text-align: center;
        padding: 30px 0 0 0;
        h1 {
            color: #343D52;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        img {
            width: 100%;
        }
    }
    .content {
        padding: 70px 0;
        background: #B2DF8A;
        h2 {
            font-size: 2.5rem;
            color: #343D52;
        }
        h4 {
            font-size: 1.5rem;
            color: #343D52;
        }
        .paragraphs {
            display: flex;
            @media (max-width: 320px) {
                flex-direction: column;
            }
        
            @media (max-width: 767px) {
                flex-direction: column;
            }
            .left-content {
                font-size: 1.1rem;
                font-weight: 300;
            }
            .right-content {
                min-width: 400px;
                text-align: right;
                @media (max-width: 320px) {
                    text-align: left;
                    min-width: 0px;
                    margin-top: 50px;
                }
            
                @media (max-width: 767px) {
                    text-align: left;
                    min-width: 0px;
                    margin-top: 50px;
                }
                .sale-history {
                    margin-bottom: 40px;
                }
                h5 {
                    color: white;
                    font-weight: bold;
                }
                p {
                    color: white;
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }
        }
    }
    .data-dictonary {
        padding: 70px 0;
        background: #f3f3f3;
        h3 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
        .data-dicionary-form {
            margin: 50px;
        }
    }
    .api-docs {
        padding: 70px 0;
        .desktop-image {
            display: block;
            @media (max-width: 320px) {
                display: none;
            }
        
            @media (max-width: 767px) {
                display: none;
            }
        }
        .mobile-image {
            display: none;
            margin-bottom: 20px;
            @media (max-width: 320px) {
                display: block;
            }
        
            @media (max-width: 767px) {
                display: block;
            }
        }
        h3 {
            font-size: 2.5rem;
        }
        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
        li {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}

.dpa {
    padding: 50px 0;
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h1 {
            margin-bottom: 30px;
            font-size: 3rem;
        }
        a {
            border: 2px solid #e74c3c;
            padding: 10px;
            background: #e74c3c;
            border-radius: 3px;
            color: white;
        }
    }
    .heading {
        margin-bottom: 15px;
        .title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 15px;
            line-height: 3rem;
        } 
        .paragraph {
            font-weight: 300;
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
    .sub-heading {
        padding-left: 20px;
        margin-bottom: 15px;
        .title-content {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 2rem;
        }
        .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .sub-paragraph {
            padding-left: 40px;
            font-size: 1.1rem;
            font-weight: 300;
        }
        .paragraph {
            padding-left: 20px;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 2rem;
            .bold {
                font-weight: bold;
            }
        }
    }
}

body, html {
    height: 100%;
    margin: 0;
}

.mobile-hamberger-button {
  display: none;
}

.data-dicionary-form {
  margin: 100px 50px;
  .success-message {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .disable {
    background: #66707b !important;
    cursor: not-allowed !important;
  }
  .email-submit-button {
    text-align: center;
    background: #283b52;
    padding: 10px 0px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .err {
    border-color: red;
  }
}

.mobile-navigation {
  display: none;
  transition: all 300ms;
  padding: 0 10px;
  .top-section {
    font-weight: bold;
    color:#282e32;
  }
  .menu-items {
    width: 100%;
    .dropdown-item {
      padding: 7px 15px;
    }
  }
}

.inactive {
  opacity: 0;
  max-height: 0px;
}
.active {
  opacity: 1;
  max-height: 500px;
}

@include breakpoint($min: 0, $max: 767px) {
  .our-data-link {
    text-align: right;
    padding-right: 0 !important;
    a {
      font-size: 1.2rem;
    }
  }
  .desktop-navigation {
    display: none;
  }
  .main-navigation {
    nav {
      display: flex;
      justify-content: space-between;
    }
  }
  .mobile-hamberger-button {
    display: block;
  }
  .mobile-navigation {
    display: block;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
  }
}

.alter-section {
	background: #f3f3f3;
	padding: 50px 0;
	.alter-box {
		margin-bottom: 25px;
		p {
			font-weight: 300;
		}
	}
}
.our-team-section {
	padding: 70px 0 50px 0;
	h3 {
		margin-bottom: 10px !important;
	}
}
.index-number {
	background: #283b52;
	padding: 50px 0;
	.center-item {
		display: flex;
		align-items: center;
		i {
			font-size: 2rem;
			margin-right: 10px;
			margin-bottom: 0 !important;
		}
	}
	.number-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;
		.count {
			font-size: 2rem;
			margin-bottom: 10px;
		}
		i {
			font-size: 2rem;
			margin-bottom: 15px;
		}
	}
}

.img {
  img {
    width: 100%;
  }
}

.center-image {
  text-align: center;
}

.flex-center-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.new-estage-page {
	.morgage-call-to-action {
		display: flex;
		justify-content: center;
		background: #fffb2e;
		.action-buttons {
			display: flex;
			justify-content: space-between;
		}
		.morgage-action-button {
			cursor: pointer;
			padding: 20px;
			font-size: 2rem;
			display: inline-block;
			background: #222d3f;
			color: white;
			border-radius: 10px;
      a {
        color: white;
      }
		}
		.morgage-action-link {
			cursor: pointer;
			padding: 20px;
			font-size: 2rem;
			display: inline-block;
			color: #222d3f;
			border-radius: 10px;
      a {
        color: #222d3f;
      }
		}
		h4 {
			font-size: 2.1rem;
			margin-bottom: 20px;
		}
	}
	.call-to-action-group {
		display: flex;
		justify-content: center;
		a {
			margin: 0 20px;
			.header-button {
				p {
					font-size: 2rem;
				}
			}
			.discover-button {
				background: #9e9e9e !important;
			}
		}
	}
	section {
		padding: 50px 0;
	}
	.achieve {
		background: #f3f3f3;
	}
	.break-section {
		text-align: center;
		background: #283b52;
    color: white;
	}
	.break-section-2 {
		text-align: center;
		background: #696969;
    color: white;
	}
	h3 {
		margin-bottom: 30px;
		font-size: 2.5rem;
	}
	p {
		font-weight: 300;
		font-size: 1.1rem;
		margin-bottom: 30px;
	}
	ul {
		li {
			font-weight: 300;
			margin-bottom: 15px;
			font-size: 1.1rem;
		}
	}
}

/* Header Start */
.main-navigation {
    .row {
        @include breakpoint($min: 0, $max: 767px) {
            margin-right: 0px;
            margin-left: 0px;
        }
    }

    header {
        min-height: 100px;
    }

    .navbar {
        background-color: #f3f3f3;
        margin-bottom: 0px;
    }

    .logo {
        display: block;
        width: 230px;
        height: 52px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .nav-item {
      @include breakpoint($min: 0, $max: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start !important;
      }
    }

    .navbar .nav li {
        overflow: initial;
        position: relative;
        padding: 0 15px;
        display: flex;
        align-items: center;

        a {
            color: #283b52;
            font-size: 15px;
            padding: 13px 0;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;
            letter-spacing: 1px;

            &:hover {
                border-color: #65D2FF;
                text-decoration: none;
            }
        }

        .right-align-menu {
            right: 0 !important;
            left: initial !important;
        }

        .product-menu {
            overflow: hidden;
            background-color: #313131;
            padding: 0 22px;
            border-color: #313131;
            @include breakpoint($min: 0, $max: 767px) {
              position: relative;
            }

            a {
                color: #fff;
                font-size: 15px;
                padding: 13px 0;

                @include breakpoint($min: 0, $max: 767px) {
                  &:before {
                    content: '-';
                    position: absolute;
                    left: 0px;
                  }

                  &:focus {
                      border-bottom: 3px solid #65D2FF;
                      text-decoration: none;
                      background-color: #313131;
                  }
                }

                &:hover {
                    border-bottom: 3px solid #65D2FF;
                    text-decoration: none;
                    background-color: #313131;
                }
                &:focus {
                  background-color: #313131;
                }
            }
        }
    }
}
.row{
    @include breakpoint($min: 0, $max: 767px) {
        margin-right: 0px;
        margin-left: 0px;
    }
}
header {
    min-height: 100px;
}

.logo {
    display: block;
    width: 230px;
    height: 52px;
    img {
        width: 170px;
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav li {
    padding: 5px;
    .searchfieldtop{
        border: 1px solid #65D2FF;
        background: transparent;
        border-radius: 15px;
        color: #FFFFFF;
        padding: 2px 10px;
        &::-webkit-input-placeholder{
            color: #FFFFFF;
        }
    }

    header {
        min-height: 100px;
    }

    .navbar {
        background-color: #212C40;
        margin-bottom: 0px;
    }

    .logo {
        display: block;
        width: 230px;
        // height: 52px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar .nav li {
        overflow: initial;
        position: relative;
        padding: 0 15px;
        display: flex;
        align-items: center;

        a {
            color: #fff;
            font-size: 15px;
            padding: 13px 0;
            box-sizing: border-box;
            border-bottom: 3px solid transparent;

            &:hover {
                color: #fff;
                border-color: #65D2FF;
                text-decoration: none;
            }
        }


        .product-menu {
            display: hidden;
            background-color: #212C40;
            padding: 0 22px;
            border-color: #212C40;

            a {
                color: #fff;
                font-size: 15px;
                padding: 13px 0;

                &:hover {
                    border-bottom: 3px solid #65D2FF;
                    text-decoration: none;
                    background-color: #212C40;
                }
            }
        }
    }
}

/* Header End */

/* Homepage Content Start */
.homepage {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 350px;
        width: 100%;
        img {
            width: 100%;
        }
        .banner-background {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url('/static/banner-bg.jpg');
          background-size: cover;
          background-position: center;
        }
        .fintech-insurtech-background {
          position: absolute;
          width: 100%;
          height: 100%;
          background: url('https://propalt-images.s3-eu-west-1.amazonaws.com/fintech-insurtech-hero.jpg');
          background-size: cover;
          background-position: center;
        }
        .filter {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.85);
        }
        .header-content {
          position: relative;
          z-index: 1;
          text-align: center;
          h1 {
            color: white;
            font-size: 4rem;
            font-weight: 450;
            letter-spacing: 1px;
            margin-bottom: 30px;
            @include breakpoint($min: 0, $max: 767px) {
              font-size: 2rem;
            }
          }
          p {
            color: white;
            font-weight: 300;
            letter-spacing: 1px;
            margin-bottom: 20px;
            @include breakpoint($min: 0, $max: 767px) {
                font-size: 0.9rem;
            }
          }
          .white {
            background-color: #ecf0f1 !important;
            color: #212C40 !important;
          }
          .header-button {
            background: #cf0913;
            display: inline-block;
            padding: 20px 50px;
            font-weight: bold;
            font-size: 2rem;
            border-radius: 10px;
            margin-top: 30px;
            margin-bottom: 5px;
            transition: all 300ms;
            //box-shadow: 0px 0px 15px #7F7F7F;
            cursor: pointer;
            position: relative;
            @include breakpoint($min: 0, $max: 767px) {
                font-size: 1rem;
            }
            p {
              color: #ffffff;
              margin: 0;
              font-weight: bold;
            }
            &:hover {
              background: #e50914;
              //font-size: 2.1rem;
              //padding: 25px 55px;
            }
            &:hover p {
              color: #ffffff;
            }
          }
          .subDescription {
            color: #f5d005;
            font-size: 0.9rem;
            font-weight: 300;
          }
        }
    }


    .note {
        width: 100%;
        margin: 0;
        text-align: center;
        position: absolute;
        color: #212C40;
        padding: 15px 0;
        left: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(225, 225, 225, 0.95);
        font: 700 32px/38px 'Roboto Condensed', sans-serif;
        @include breakpoint($min: 768px, $max: 1199px) {
            font: 700 24px/30px 'Roboto Condensed', sans-serif;
        }
        @include breakpoint($min: 0, $max: 767px) {
            font: 600 13px/15px 'Roboto Condensed', sans-serif;
        }
    }

    //.searchBox {
    //    padding: 15px 0;
    //    background-color: #FF4E54;
    //}
    //
    //.searchfield {
    //    border: 1px solid #ff373e;
    //    width: 100%;
    //    height: 68px;
    //    color: #ff4c52;
    //    font: 700 25px/68px 'Roboto Condensed', sans-serif;
    //    background: #fff url(/static/search-icon.jpg) 12px center no-repeat;
    //    padding: 0 0 0 60px;
    //    box-sizing: border-box;
    //
    //    &::-webkit-input-placeholder {
    //        color: #ff4c52;
    //    }
    //
    //    @include breakpoint($min: 0, $max: 1199px) {
    //        font: 700 16px/50px 'Roboto Condensed', sans-serif;
    //        height: 50px;
    //    }
    //}

    .consumer {
      padding: 50px 0;
      @include breakpoint($min: 0, $max: 767px) {
          padding: 50px 0;
      }
      h2 {
        text-align: center;
        margin-bottom: 35px;
        letter-spacing: 1px;
        color: #3A588C;
        @include breakpoint($min: 0, $max: 767px) {
            font-size: 1.5rem;
        }
      }
      .consumer-container {
        display: flex;
        justify-content: space-between;
        .property {
          background: #65D2FF;
          a {
            &:hover {
              text-decoration: none;
              .name{
                color: #65D2FF;

              }
            }
          }
          .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_search_p.png);
            background-position: center 1px;
            background-size: 70px auto;
            &:before {
              position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
              content:url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_search_s.png);
            }
          }
          &:hover {
            background: white;
            border: 1px solid #65D2FF;
          }
          &:hover .icon-box-inner .name {
            color: #65D2FF;
          }
          &:hover a .name {
            color: #65D2FF;
          }
          &:hover .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_search_s.png);
          }
        }
        .estate-agent {
          background: #a1d394;
          a {
            &:hover {
              text-decoration: none;
              .name{
                color: #a1d394;
              }
            }
          }
          .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_agent_p.png);
            background-position: center 1px;
            background-size: 70px auto;

            &:before {
              position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
              content:url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_agent_s.png);
            }
          }
          &:hover {
            background: white;
            border: 1px solid #a1d394;
          }
          &:hover .icon-box-inner .name {
            color: #a1d394;
          }
          &:hover .name {
            color: #a1d394;
          }
          &:hover .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_agent_s.png);
          }
        }
        .property-investor {
          background:  #085a84;
          a {
            &:hover {
              text-decoration: none;
              .name{
                color: #085a84;
              }
            }
          }
          .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_investor_p.png);
            background-position: center 1px;
            background-size: 70px auto;

            &:before {
              position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
              content:url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_investor_s.png);
            }
          }
          &:hover {
            background: white;
            border: 1px solid #085a84;
          }
          &:hover .icon-box-inner .name {
            color: #085a84;
          }
          &:hover .name {
            color: #085a84;
          }
          &:hover .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/house_investor_s.png);
          }
        }
        .housebuilder {
          background: #edcc03;
          a {
            &:hover {
              text-decoration: none;
              .icon-box-inner {
                .name{
                  color: #edcc03;
                }
              }
            }
          }
          .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/architect-with-helmet_p.png);
            background-position: center 1px;
            background-size: 70px auto;

            &:before {
              position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
              content:url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/architect-with-helmet_s.png);
            }
          }
          &:hover {
            background: white;
            border: 1px solid #edcc03;
          }
          &:hover .icon-box-inner .name {
            color: #edcc03;
          }
          &:hover .name {
            color: #edcc03;
          }
          &:hover .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/architect-with-helmet_s.png);
          }
        }
        .finance {
          background: #d255c8;
          a {
            &:hover {
              text-decoration: none;
              .icon-box-inner {
                .name{
                  color: #d255c8;
                }
              }
            }
          }
          .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/finance_and_insurance_p.png);
            background-position: center 1px;
            background-size: 70px auto;

            &:before {
              position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
              content:url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/finance_and_insurance_s.png);
            }
          }
          &:hover {
            background: white;
            border: 1px solid #d255c8;
          }
          &:hover .icon-box-inner .name {
            color: #d255c8;
          }
          &:hover .name {
            color: #d255c8;
          }
          &:hover .icon-bar {
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/icons/finance_and_insurance_s.png);
          }
        }
        @include breakpoint($min: 0, $max: 767px) {
          flex-direction: column;
        }
        .consumer-box {
          width: 18%;
          display: flex;
          justify-content: center;
          border: 1px solid transparent;
          transition: all 300ms;
          @include breakpoint($min: 0, $max: 767px) {
              width: 100%;
          }
          .icon-box-inner {
              padding: 10px 1.5rem;
              margin: 5px;
              width: 100%;
              @include breakpoint($min: 768px, $max: 1024px) {
                padding: 10px 0;
              }
              .icon-bar {
                  width: 100%;
                  height: 75px;
                  display: block;
                  background-repeat: no-repeat;
              }
              .name {
                  color: #FFFFFF;
                  font: 600 26px/19px 'Roboto Condensed', sans-serif;
                  padding-top: 15px;
                  display: block;
                  text-align: center;
                  font-weight: 300;
                  font-size: 1.3rem;
                  line-height: 1.4rem;
                  @include breakpoint($min: 768px, $max: 1024px) {
                    font-size: 1.1rem;
                  }
                  a {
                      color: #fff;
                      font-size: 15px;
                      padding: 23px 0;

                      &:hover {
                          border-color: #65D2FF;
                          text-decoration: none;
                      }
                  }
              }
          }
        }
      }
    }


    .below-fold-cta {
        width: 100%;
        overflow: hidden;
        background: #FFFFFF;
        clear: both;
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0;
        }

        h4 {
          font-size: 1.4rem;
          font-weight: bold;
          letter-spacing: 1px;
          margin-bottom: 20px;
          color: #253249;
        }

        h6 {
          font-size: 1.1rem;
          font-weight: 500;
          margin-bottom: 15px;
        }

        p {
          font-weight: 300;
          font-size: 1rem;
        }

        .intro-video{
          //background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/video-placeholder.png);
          //background-position: center center;
          //height: 20rem;
          video {
            width: 100%;
            height: 100%;
            padding: 1rem;
            //margin-top: 1rem;
            @include breakpoint($min: 48rem, $max: 74.9375rem) {
              width: 100%;
              height: 100%;
              margin-left: 0rem;
              margin-top: 2rem;
            }
            @include breakpoint($min: 0, $max: 47.9rem) {
              width: 100%;
              height: 100%;
              margin-left: 0rem;
              margin-top: 0rem;
            }
          }
        }

        .offer-btn{
            float: none;
            margin: 2rem;
            margin-bottom: 0;
            //margin-left: -11.5rem;
            padding: 0.6rem;
            max-width: 100%;
            background-color: #ffd200;
            color: #1e2537;
            font-size: 1.2rem;
            text-align: center;
            border-radius: 0.5rem;
            &:hover {
                background-color: rgba(255, 202, 0, 0.64);
                cursor: pointer;
                cursor: hand;
            }
            @include breakpoint($min: 48rem, $max: 74.9375rem) {
                margin-top: 3.5rem;
                max-width: 137%;
            }
            @include breakpoint($min: 0, $max: 47.9rem) {
                margin: 3rem 2rem 2rem 2rem;
                padding: 1.5rem 1rem;
            }
        }

    }

    /*What is HV*/

    .what-is-hv {
        @include breakpoint($min: 0, $max: 767px) {
            margin-top: 30px;
        }
    }

    .sec-heading {
        font: 700 26px/75px 'Roboto Condensed', sans-serif;
        min-height: 75px;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        background: rgba(117, 210, 103, 1);
        background: -moz-linear-gradient(left, rgba(117, 210, 103, 1) 0%, rgba(102, 207, 228, 1) 57%, rgba(101, 209, 255, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117, 210, 103, 1)), color-stop(57%, rgba(102, 207, 228, 1)), color-stop(100%, rgba(101, 209, 255, 1)));
        background: -webkit-linear-gradient(left, rgba(117, 210, 103, 1) 0%, rgba(102, 207, 228, 1) 57%, rgba(101, 209, 255, 1) 100%);
        background: -o-linear-gradient(left, rgba(117, 210, 103, 1) 0%, rgba(102, 207, 228, 1) 57%, rgba(101, 209, 255, 1) 100%);
        background: -ms-linear-gradient(left, rgba(117, 210, 103, 1) 0%, rgba(102, 207, 228, 1) 57%, rgba(101, 209, 255, 1) 100%);
        background: linear-gradient(to right, rgba(117, 210, 103, 1) 0%, rgba(102, 207, 228, 1) 57%, rgba(101, 209, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75d267', endColorstr='#65d1ff', GradientType=1 );
        @include breakpoint($min: 768px, $max: 1199px) {
            font: 600 20px/50px 'Roboto Condensed', sans-serif;
            min-height: 50px;
        }
        @include breakpoint($min: 0, $max: 767px) {
            font: 700 18px/40px 'Roboto Condensed', sans-serif;
            min-height: 40px;
        }
    }

    .learn-more {
        background-color: #FF4E54;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        margin-top: 20px;
        display: inline-table;
        margin-top: 20px;
        &:hover{
            color: #ffffff;
        }
    }

    /*Technology*/
    .our-technology {
        //width: 100%;
        //height: 750px;
        background-color: #1e2537;
        //background-size: cover;
        //background-image: url(/static/diagonal_blue_background.svg);
        color: #ffffff;
        //clear: both;
        //margin-top: -10%;
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0;
        }
        .row{
            //padding-top: 15%;
        }
        h4 {
          letter-spacing: 1px;
          font-weight: bold;
          font-size: 1.4rem;
          margin-bottom: 20px;
        }
        h5 {
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 1.5rem;
          margin-bottom: 15px;
        }
        p {
          font-size: 1rem;
          font-weight: 300;
        }
        @include breakpoint($min: 768px, $max: 1199px) {
            height: 100%;
        }
        @include breakpoint($min: 0, $max: 767px) {
            height: 100%;
        }

        a {
            color: #ffffff;
        }
    }

    .introduction {
      padding: 70px 0;
      @include breakpoint($min: 0, $max: 767px) {
          padding: 50px 0 25px 0;
      }
      .introduction-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include breakpoint($min: 0, $max: 767px) {
            margin-bottom: 30px;
        }
        .introduction-content {
          h4 {
            font-size: 1.2rem;
            margin-bottom: 35px;
          }
          p {
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 0.9rem;
            margin-bottom: 30px;
          }
        }
        .introduction-links {
          i {
            font-size: 1rem;
          }
          a {
            display: block;
            font-weight: bold;
            font-size: 0.8rem;
            color: black;
            margin: 5px 0;
          }
        }
      }
      .generate-grow {
        h4 {
          color: #6fd5fd;
        }
        a {
          color: #6fd5fd;
          i {
            color: #6fd5fd;
            margin-right: 10px;
          }
        }
      }
      .analyse {
        h4 {
          color: #075b84;
        }
        a {
          color: #075b84;
          i {
            color: #075b84;
            margin-right: 10px;
          }
        }
      }
      .assess {
        h4 {
          color: #d155c7;
        }
        a {
          color: #d155c7;
          i {
            color: #d155c7;
            margin-right: 10px;
          }
        }
      }
    }

    .tech-heading {
        //background-color: #ffffff;
        font: 600 26px/50px 'Roboto Condensed', sans-serif;
        min-height: 50px;
        box-sizing: border-box;
        //text-align: center;
        color: #82B209;
        //width: 60%;
        @include breakpoint($min: 768px, $max: 1199px) {
            width: 100%;
            font: 600 20px/50px 'Roboto Condensed', sans-serif;
            min-height: 50px;
        }
        @include breakpoint($min: 0, $max: 767px) {
            font: 600 18px/40px 'Roboto Condensed', sans-serif;
            min-height: 40px;
        }
    }

    .out-tech-inner {
        //margin-top: -50px;
        //margin-bottom: 100px;
        //padding: 35px 25px;

    }

    /*Future Section*/

    .the-future {
        clear: both;
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0 25px 0;
        }
        span{
            margin-top: 15px;
        }
        .icon-predict {
            width: 100%;
            height: 175px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(/static/icon-predict.svg);
            background-position: center 1px;
            background-size: 140px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                height: 100px;
                background-size: 90px auto;
            }
        }
        .icon-interactive {
            width: 100%;
            height: 175px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(/static/icon-interactive.svg);
            background-position: center 1px;
            background-size: 140px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                height: 100px;
                background-size: 90px auto;
            }
        }
        .icon-calculate {
            width: 100%;
            height: 175px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(/static/icon-calculate.svg);
            background-position: center 1px;
            background-size: 140px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                height: 100px;
                background-size: 90px auto;
            }
        }
        .icon-research {
            width: 100%;
            height: 175px;
            display: block;
            background-repeat: no-repeat;
            background-image: url(/static/icon-research.svg);
            background-position: center 1px;
            background-size: 140px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                height: 100px;
                background-size: 90px auto;
            }
        }
        .name {
            color: #202a3f;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            font-size: 20px;
            padding-bottom: 10px;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .info {
            text-align: center;
            font-size: 0.8rem;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 1.3rem;
        }
    }

    .give-it {
        background-color: #FF4E54;
        margin: auto;
        padding-bottom: 30px;
        p {
            color: #ffffff;
            text-align: center;
            font-size: 18px;
            padding-top: 20px;
        }
    }


    /* Essential Product Tools Section*/

    .the-product-tools {
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0;
        }
        .heading{
						/* font: 700 1.625rem/4.6875rem 'Montserrat', sans-serif; */
						text-align: center;
						font-size: 2.5rem;
						margin-bottom: 30px;
            letter-spacing: 1px;
            color: white;
            @include breakpoint($min: 48rem, $max: 74.9375rem) {
                font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
            }
            @include breakpoint($min: 0, $max: 47.9rem) {
                font: 700 1.125rem/2.5rem 'Montserrat', sans-serif;
                padding-top: 1rem;
            }
        }

        background-color: #999a9c;;
        color: #ffffff;

        .key-product-lca-icon {
            @include key-product-image-icon('lca-home.png');
        }
        .key-product-d-icon {
            @include key-product-image-icon('d-home.png');
        }
        .key-product-pt-icon {
            @include key-product-image-icon('pt-home.png');
        }
        .key-product-avm-icon {
            @include key-product-image-icon('avm-home.png');
        }
        .key-product {
          margin: 20px 0;
          .key-product-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
            }
          }

          .key-product-inner {
              h4 {
                  color: white;
                  font-size: 1.2rem;
                  margin-bottom: 15px;
              }

              p {
                  color: #ffffff;
                  font-weight: 300;
									font-size: 1rem;
									letter-spacing: 1px;
                  line-height: 1.3rem;
                  a {
                    font-size: 0.7rem;
                    color: white;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-decoration: underline;
                  }
              }

              margin: 20px 0;
              padding: 0rem 1rem;
              @include breakpoint($min: 48rem, $max: 74.9375rem) {
                  padding: 0rem 0rem;
              }
              @include breakpoint($min: 0, $max: 47.9rem) {
                  margin: 2rem;
                  padding: 0rem 0rem;
                  margin-bottom: 0;
              }
          }
        }

    }

    /*Neighbours Section*/

    .your-neighbours-inner {
        @include breakpoint($min: 48rem, $max: 74.9375rem) {
            padding: 1rem;
        }
        @include breakpoint($min: 0, $max: 47.9rem) {
            margin: 0rem 2rem 0rem 2rem;
        }

        h3 {
            color: #1a1a1a;

        }

        h4 {
            color: #52af52;
            font-weight: 600;
            @include breakpoint($min: 48rem, $max: 74.9375rem) {
                display: none;
            }
            @include breakpoint($min: 0, $max: 47.9rem) {
                display: none;
            }
        }

        h5 {
            color: black;
            margin-bottom: 15px;
        }

        p {
            color: black;
        }

        ul {
            margin: 0rem 0rem 0rem -3.2rem;

        }

        li {
            font-weight: 200;
            font-size: 1rem;
            color: black;
            margin: 1rem;
            padding: 0rem 0rem 0rem 2.5rem;
            list-style: none;
            background-image: url("https://s3.eu-west-2.amazonaws.com/housevault-images/template/tick.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px;

        }
    }
.your-neighbours-image {
    width: 100%;
    min-height: 20rem;
    background-image: url(/static/hv_illustration_3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 19rem auto;
    overflow: hidden;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
        display: none;
    }
    @include breakpoint($min: 1024px, $max: 1366px) {
        display: block;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
        display: none;
    }
}
    .your-neighbours {
        color: #ffffff;
        width: 100%;
        max-height: 550px;
        background-size: cover;
        padding: 70px 0;
        @include breakpoint($min: 0, $max: 767px) {
            padding: 50px 0;
        }
        //background-image: url(/static/diagonal_blue_background_bottom.svg);
        clear: both;
        @include breakpoint($min: 0, $max: 767px) {
          max-height: initial;
        }
        p {
            font-size: 20px;
        }
        ul li {
            font-size: 18px;
            color: #202a3f;
            padding-bottom: 10px;
        }
        .your-neighbours-right{
            width: 100%;
            max-height: 550px;
            background-size: cover;
            background-image: url(/static/background-gradient-circle.svg);
            background-position: 100px 0px;
            background-repeat: no-repeat;
        }
    }

}


/* Homepage Content End */

/* Shared Media Section*/

.illustration-1 {
    width: 100%;
    min-height: 610px;
    background-image: url(/static/hv_illustration_1.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    @include breakpoint($min: 0, $max: 767px) {
        background-image: none;
    }
}

.illustration-2 {
    width: 100%;
    min-height: 370px;
    background-image: url(/static/hv_illustration_2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    @include breakpoint($min: 768px, $max: 1199px) {
        font: 700 24px/30px 'Roboto Condensed', sans-serif;
        background-size: 310px auto;
    }
    @include breakpoint($min: 0, $max: 767px) {
        display: none;
    }
}

.illustration-3 {
    width: 100%;
    min-height: 400px;
    background-image: url(/static/hv_illustration_3.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px auto;
    @include breakpoint($min: 768px, $max: 1199px) {
        font: 700 24px/30px 'Roboto Condensed', sans-serif;
        background-size: 310px auto;
    }
    @include breakpoint($min: 0, $max: 767px) {
        display: none;
    }
}

/* End Media Section*/


/* Valuation Content Start */

.valuation-chart-card {
    max-width: 542px;
}

.wide-valuation-chart-card {
    max-width: 1500px;
}

.hero-chart-card {
    max-width: 1500px;
}

#property-menu-container {
    background:#4A90E2;
    width:100%;



    .active {
        background:none;
        text-decoration:underline;
    }
    .nav-link {
        color:#ffffff;
    }
    .full-display-nav {
        margin-bottom: 10px;

        @include breakpoint($min: 0, $max: 576px) {
            display: none;
        }
    }
    .dropdown-display-nav {
        margin-bottom: 15px;
        @include breakpoint($min: 576px, $max: 0) {
            display: none;
        }
    }
}


/*Footer*/

footer {
    background-color: #212C40;
    color: #ffffff;
    padding-top: 70px;
    @include breakpoint($min: 0, $max: 767px) {
        padding-top: 50px;
    }
    .footer-links {
        margin-top: 20px;
        h4 {
            color: #65D2FF;
            text-transform: uppercase;
            font-size: 18px;
        }
        ul {
            padding-left: 0px;
            li {
                list-style: none;
            }
        }
        a {
            color: #ffffff;
        }
    }
    .copyright-container {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    .copyright {
        color: #65D2FF;
    }
    .blank-footer {
        background-color: #3A588C;
    }
    .subscribe-section h4 {
        color: #65D2FF;
        text-transform: uppercase;
        font-size: 18px;
    }
    .subscribefield {
        border: 1px solid #ff373e;
        color: #ff4c52;
        width: 100%;
        height: 50px;
        font: 700 25px/50px 'Roboto Condensed', sans-serif;
        padding: 0 0 0 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        &::-webkit-input-placeholder{
            color: #ff4c52;
        }
    }
    .subscribe-submit {
        background-color: #FF4E54;
        border: none;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        float: left;
        margin-top: 15px;
    }
}

.red:after {
    opacity: .4;
    background-color: #000000;
}

.search-postcard {
    position: relative;
    z-index: 200;
    text-align: center;
    width: 100%;
    margin: 15% auto;
    margin-bottom: 0px;
    .search-form {
        width: 50%;
        margin: 0 auto;
        padding: 25px;
    }
    h3, h1 {
        color: #ffffff;
    }
    h1 {
        font-size: 5em;
    }
}

#map {
    height: 400px;
    margin-bottom:20px;
}

#property-profile  {
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size:1.3em;
    }
    .nav-tabs {
        margin-bottom:20px;
    }
}

.property-crime-container {
    padding:1rem 0 1rem 0;

    .row {
        margin: 10px 0;

        .property-crime-crimes-container {
            height: 300px;
            overflow-y: auto;
        }
        .property-crime-crimes-table {
            max-height: 100%;
        }
    }

    .crime-cat-tab {
        @include breakpoint($min: 0, $max: 1200px) {
            display: none;
        }
    }
    .crime-cat-dropdown-container {
        @include breakpoint($min: 1200px, $max: 0) {
            display: none;
        }
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.navbar-toggle .icon-bar{
    background-color: #000;
}
.sign-in-btn{
    float:right;
    margin:10px 0 0 23px;
}
.exTab{
    margin-top:-31px;
    padding-bottom:30px;
    z-index:100;
    position:relative;
}
#exTab {
    .nav-pills{
        position:relative;
        background-color:#294166;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .3);
        >li{
            text-align:center;
            flex:auto;
            >a{
                border-radius:0;
                color:rgb(190, 88, 88);
                font-size:12px;
                text-transform:uppercase;
                padding:20px 0;
                display:block;
                position:relative;
                background-color: #294166;
            }
            .active a{
                background-color:#294166;
            }
            >a:hover{
                background-color:#294166;
                &:after{
                    content:'';
                    position:absolute; left:0;
                    bottom:0;
                    width:100%;
                    height:0;
                    border-bottom:9px solid #00bacc;
                }
            }
            &.active > a:after{
                content:'';
                position:absolute;
                left:0;
                bottom:0;
                width:100%;
                height:0;
                border-bottom:9px solid #00bacc;
            }
        }
    }
}

.tab-content{
    .tab-pane{
        position:relative;
    }
    .tab-pane .box{
        color:#fff;
        text-align:center;
        box-sizing:border-box;
        padding: 6px 30px 30px 30px;
        min-height:337px;
    }
}
.tab-pane {
    .box.bgcolor1{background-color:#00bacc;}
    .box.bgcolor2{background-color:#294166;}
    .box.bgcolor3{background-color:#f36a37;}
    .box:nth-child(2){
        position: absolute;
        left:50%;
        top:23px;
        margin-left:-21%;
        z-index:100;
    }
    .box {
        .title{
            font-size:24px;
            font-weight:900;
        }
        .info{
            font-size:16px;
            font-weight:300;
            padding: 25px 10px;
        }
    }
}
.find-btn{
    background:#fff;
    padding: 0 10px;
    line-height:34px;
    font-weight:300;
    color:#294166;
    display:inline-block;
}
.newsletter{
    background-color:#00bacc;
    color:#fff;
    text-align:center;
}
.newsletter-box{
    padding: 26px 0 30px;
    max-width:620px;
    width:100%;
    margin:0 auto;
    .row{max-width:393px; width:100%; margin:0 auto;}
    .title{font-size:45px; font-weight:900}
    .info{font-size:18px;}
    .field{text-align:center; text-transform:uppercase; color:#000; margin-bottom:15px;width:100%; border-radius:5px; border: 1px solid #ccc; height:42px;}
    .letter-submit{max-width:165px; padding-right:33px; width:100%; margin:13px auto 0; height:54px; background:#294166 url(/static/submit-icon.jpg) right center no-repeat; border:0; border-radius:10px; font-size:26px;}
}
.g-recaptcha{margin: auto;}
.data-list{
    margin:0;
    width:100%;
    td{box-sizing:border-box; border-right:2px solid #00709a; padding-bottom:1px;}
    thead th{@extend td;text-align: center;}
    .energy-bar{
        display:block;
        box-sizing:border-box;
        padding:0 5px;
        height:26px;
        .grade{margin-top:2px;font-weight:600; float:right; color:#fff;font-size:16px;text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; text-transform:uppercase;}
    }
}
.en-num{color:#000; font-weight:600; font-size:14px;}
.en-num.plus{color:#fff;}
.info{font-size:12px;}
.panel-heading{font-weight:600; background:#3ba5b8; color: #fff; padding:0 5px;}
.leaf{display:block; background:#F00; position:relative; width:55%; height:26px; float:right; margin-right:10px;text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; color:#fff; font-weight:600; text-align:center;}
.leaf:after{content:'';width: 0px;height: 0px;border-top: 13px solid transparent;border-bottom: 13px solid transparent;border-right: 13px solid blue; position:absolute; left:-13px; top:0;}
.energy-bar{
    &.a{width:32.6%;}
    &.b{width:43.4%}
    &.c{width:54.3%;}
    &.d{width:65.5%;}
    &.e{width:76%;}
    &.f{width:86%;}
    &.g{width:98%;}
}
.efficiency {
    .a{background-color:#007e3d;}
    .b{background-color:#2b9e28;}
    .c{background-color:#9cca3b;}
    .d{background-color:#fff200;}
    .e{background-color:#f6af1c;}
    .f{background-color:#ed6723;}
    .g{background-color:#e21c23;}
    .a.leaf:after{border-right: 13px solid #007e3d;}
    .b.leaf:after{border-right: 13px solid #2b9e28;}
    .c.leaf:after{border-right: 13px solid #9cca3b;}
    .d.leaf:after{border-right: 13px solid #fff200;}
    .e.leaf:after{border-right: 13px solid #f6af1c;}
    .f.leaf:after{border-right: 13px solid #ed6723;}
    .g.leaf:after{border-right: 13px solid #e21c23;}
}
.impact{
    .a{background-color:#cce2f3;}
    .b{background-color:#95c1e3;}
    .c{background-color:#70a3d2;}
    .d{background-color:#4a85bf;}
    .e{background-color:#a5a6a9;}
    .f{background-color:#919194;}
    .g{background-color:#807f83;}
    .a.leaf:after{border-right: 13px solid #cce2f3;}
    .b.leaf:after{border-right: 13px solid #95c1e3;}
    .c.leaf:after{border-right: 13px solid #70a3d2;}
    .d.leaf:after{border-right: 13px solid #4a85bf;}
    .e.leaf:after{border-right: 13px solid #a5a6a9;}
    .f.leaf:after{border-right: 13px solid #919194;}
    .g.leaf:after{border-right: 13px solid #807f83;}
}
@media screen and (max-width: 768px) {
    .search-postcard {
        margin: 50% auto;
        h1 {
            font-size: 3em;
        }
        .search-form {
            width: 80%;
            padding-left: 0px;
        }
    }
    #exTab .nav-pills>li>a{
        padding: 12px;
    }
    .tab-content .tab-pane .box{
        margin-bottom:20px;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 1);
        min-height: inherit;
    }
    .tab-pane .box:nth-child(2){
        position:relative;
        top: inherit;
        left: inherit;
        margin-left:0;
    }
    .newsletter-box .title{
        font-size: 35px;
    }
    .en-num{
        font-size: 10px;
    }
    .data-list .energy-bar .grade{
        font-size: 12px;
    }
    .data-list{
        thead th{
            padding: 2px 5px;
        }
    }
    .panel-body{
        padding: 10px;
    }
    .energy-bar{
        &.a{width:45.6%;}
        &.b{width:50.4%}
    }
}

.address-list {
    padding:10px;
    margin-bottom:5px;
    border:1px solid rgba(0,0,0,0.2);
}

.space-1 {
    margin-left: 5px;
}

.pad-in-20 {
    padding-left:20px;
    padding-top: 20px;
}

.font-bolder {
    font-weight: bolder;
}

.market-container {
    border-radius: 6px;
    background-color: #f2efef;
    width:100%;
    text-align: left;
    margin:10px 0 10px 0;
    padding:10px 5px;
}

.purple-box {
    text-align: center;
    background-color: #4d2072;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
}

.white-icon {
    color: white;
    font-size: xx-large;
    vertical-align: middle
}

.value-box {
    width: 200px;
    height: 100px;
    line-height: 40px;
    vertical-align: middle;
    padding: 10px;
}

.font-medium {
    font-size: 1em;
}

.font-700 {
    font-weight: 700;
}

.font-large {
    font-size: large;
}

.button{
    background-color: $company-purple;
    color: white;
    max-width: 165px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
    height: 30px;
    border: 0;
    border-radius: 6px;
    font-size: 14px;
}

.withTinyBorder {
    border: 1px solid #CCC;
}

.margin-bottom-1 {
    margin-bottom: 10px;
}
.vtabs {
    display: table;
    width:100%;
}

.vtabs .tabs-vertical {
    width: 150px;
    border-right: 1px solid rgba(120, 130, 140, .13);
    display: table-cell;
    vertical-align: top;
}

.tabs-vertical li.active a, .tabs-vertical li.active a:hover, .tabs-vertical li.active a:focus {
    background: #2cabe3;
    border-right: 2px solid #2cabe3;
    color:#ffffff;
}

//Star Rating
.rating-default {
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: top;
    line-height: 15px !important;
}
.rating-box-1 .rating:after {
    content: "\f005";
    color: #F9A602;
}
.rating-box-2 .rating:after {
    content: "\f005\f005";
    color: #F9A602;
}
.rating-box-3 .rating:after {
    content: "\f005\f005\f005";
    color: #F9A602;
}
.rating-box-4 .rating:after {
    content: "\f005\f005\f0055\f005";
    color: #F9A602;
}
.rating-box-5 .rating:after {
    content: "\f005\f005\f0055\f005\f005";
    color: #F9A602;
}
.rating-box-n1 .rating:after {
    content: "\f005\f005\f005\f005";
    color: #a9a9a9;
}
.rating-box-n2 .rating:after {
    content: "\f005\f005\f005";
    color: #a9a9a9;
}
.rating-box-n3 .rating:after {
    content: "\f005\f005";
    color: #a9a9a9;
}
.rating-box-n4 .rating:after {
    content: "\f005";
    color: #a9a9a9;
}
.rating-box- .rating:after {
    content: "\f005\f005\f005\f005\f005";
    color: #a9a9a9;
}
.rating-box {background: none; color: #eee; }
.rating {float:left;}
.disabled { color:#eee;}


.highlight_purple{
    font-size: 10px;
    color: #FFFFFF;
    background: $company-purple;
    border: 1px solid $company-purple;
    width: auto;
    //height: auto;
    //padding-left: 5%;
    margin-left: 10px;
    position: absolute;
    border-radius: 4px;
    padding: 0 5px;
}

.errText {
    font-size: 11px;
    color: red;
    font-weight: bolder;
}

.font-purple {
    color: $company-purple;
}

.font-red {
    color: $logo-red;
}

.key-space {
    //background-color: $logo-blue;
    border-radius: 3px;
    color: $logo-blue;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-right: 5px;
}

.value-space {
    margin-bottom: 5px;
}

.border-at-bottom {
    border-bottom: 1px solid #DDD;
    margin-bottom: 5px;
}

.blue-box {
    color: #FFF;
    border-radius: 3px;
    background-color: $banner-blue;
    padding: 5px;
    margin-bottom: 10px;
}

.school-box {
    border-radius: 10px;
    height: 100px;
    text-align: center;
    padding: 10px;
    margin: 2px;
}

.school-icon {
    font-size: 4em;
    color: $logo-blue;
    margin-right: 20px;
}

.school-value {
    font-size: 1.5em;
    font-weight: bolder;
    vertical-align: middle;
}

.school-label {
    margin-top: 10px;
}

//.loading-icon {
//    //position: relative;
//    //width: 20px;
//    //height: 20px;
//    //margin:50px auto;
//    -webkit-animation: fa-spin 2s infinite linear;
//    animation: fa-spin 2s infinite linear;
//    position: fixed;
//    z-index: 999;
//    //height: 2em;
//    //width: 2em;
//    overflow: show;
//    margin: auto;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    right: 0;
//    //background-color: rgba(0,0,0,0.3);
//    opacity: 0.5;
//    filter: alpha(opacity=50);
//}
//
//.loading-icon:before {
//    content: "\f110";
//    font-family: FontAwesome;
//    font-size:30px;
//    color: $logo-blue;
//    //position: absolute;
//    //top: 0;
//    content: "\f110";
//    display: block;
//    position: fixed;
//    top: 0;
//    left: 0;
//    //background-color: rgba(0,0,0,0.3);
//}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}


.postcode-page {
    h1 {
        margin-top:20px;
    }
    h2 {

        background:$banner-blue;
        color:#ffffff;
        font-size:1.2em;
        padding:10px;
        margin-bottom:20px;
    }
    .property-image {
        margin-bottom:20px;
    }
    .property-header {
        border:1px solid $banner-blue;
        color:$banner-blue;
        padding:10px;
        margin-bottom:20px;
        cursor: pointer;
        h6 {
            padding:0;
            margin:0;
        }
    }
    .property-btn {
        margin-bottom:10px;
    }
    .property-address-listing {
        margin-bottom: 20px;
    }
}

.streeview {
    margin:10px 0 10px 0;
}

.alignleft {
    float:left;
    margin: 10px;
}

.page {

    h2 {
        line-height:1.4;
        font-size:1.4em;
        margin:15px 0 15px 0;
    }
    h3 {
        margin:15px 0 15px 0;
        font-size:1.2em;
    }
}



.card {
    margin-top:10px;
    border:none;
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.home-marker {
    color: #BD10E0;
}

/*About-Us-Page*/
.about-us-page {
  h1 {
    color: #1A456D;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    @include breakpoint($min: 0, $max: 47.9rem) {
      font-size: 22px;
    }
  }
  h3 {
        color: #5bc8f9;
        font-weight:600;
        margin-right: 2rem;
        margin-bottom:2rem;
  }
  p {
        color: #1e2738;

        margin-right: 2rem;
        //margin-bottom:2rem;
  }

  .hero-section {
        width: 100%;
        color: #ffffff;
        padding: 1rem;
    .hero-image {
      width: 100%;
      min-height: 26rem;
      background-image: url(/static/hv_illustration_1.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 27rem auto;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        display: none;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        display: none;
      }
    }
    .hero-product-inner {
      margin-top: 1rem;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        margin: 0rem 0rem 0rem 3rem;
        padding: 1rem;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        margin: 0rem 2rem 0rem 2rem;
      }
      h3 {
          color: #1a1a1a;

      }
      h4 {
          color: #5bc8f9;
          font-weight:600;
          margin-right: 2rem;
          margin-bottom:2rem;
      }
      h5 {
          color: black;
      }
      p {
          color: black;
      }
      ul {
          margin: 0rem 0rem 0rem -5rem;

      }
      li {
          font-weight:200;
          font-size:1rem;
          color: black;
          margin: 0.8rem;
          padding: 0rem 0rem 0rem 2.5rem;
          list-style: none;
          background-image: url("https://s3.eu-west-2.amazonaws.com/housevault-images/template/tick.png");
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 20px;

      }
    }
  }
  .machine-learning-section {
    padding: 40px 0;
      .machine-learning-inner {
          padding: 1rem;
      }
  }
  .about-us-section {
    padding: 40px 0;
    .about-us-inner {
        padding: 1rem;
    }
    .illustration-3 {
        width: 80%;
        min-height: 350px;
        background-image: url(/static/hv_illustration_3.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: contain;
        @include breakpoint($min: 0, $max: 767px) {
            background-image: none;
        }
    }
  }
  .our-team-section {
    .card-deck {
      padding: 0.5rem 0.5rem;
      @include breakpoint($min: 0, $max: 767px) {
        padding: 0rem 1rem;
      }
    }
  }
}

/*Pricing-Page*/
.pricing-content {

    body {
        background-color: #eee;
    }

    .hv_price_table {
        background-color: #f0eded;
    }

    /*PRICE COLOR CODE START*/
  .hv_content{
    padding: 5rem 0rem;
  }
    #hv_price_table .hv_content {
        background-color: #fff;
    }

    #hv_price_table .hv_content .hv_head_price {
        background-color: #f6f6f6;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content .head_bg {
        border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content .head span {
        color: #525252;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .sign {
        color: #414141;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .currency {
        color: #414141;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .cent {
        color: #414141;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .month {
        color: #414141;
    }

    #hv_price_table .hv_content .hv_feature_list ul li {
        color: #a7a7a7;
    }

    #hv_price_table .hv_content .hv_feature_list ul li span {
        color: #414141;
    }

    #hv_price_table .hv_content .hv_feature_list ul li:hover {
        background-color: #E4E4E4;
        border-left: 5px solid #2ECC71;
    }

    #hv_price_table .hv_content .hv_price_btn a {
        border: 1px solid #2ECC71;
        color: #2ECC71;
    }

    #hv_price_table .hv_content.active .hv_head_price .hv_head_content .head_bg,
    #hv_price_table .hv_content:hover .hv_head_price .hv_head_content .head_bg {
        border-color: #2ECC71 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2ECC71;
        color: #fff;
    }

    #hv_price_table .hv_content:hover .hv_head_price .hv_head_content .head span,
    #hv_price_table .hv_content.active .hv_head_price .hv_head_content .head span {
        color: #fff;
    }

    #hv_price_table .hv_content:hover .hv_price_btn a,
    #hv_price_table .hv_content.active .hv_price_btn a {
      cursor: pointer;
      cursor: hand;
      background-color: #2ECC71;
      color: #fff;
    }

    #hv_price_table {
        margin: 50px 0 50px 0;

    }

    .row .table {
        padding: 28px 0;
    }

    /*PRICE BODY CODE START*/

    #hv_price_table .hv_content {
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    #hv_price_table .hv_content .hv_head_price {
        margin: 0 0 20px 0;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content {
        margin: 0 0 50px 0;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content .head_bg {
        border-style: solid;
        border-width: 90px 1411px 23px 399px;
        position: absolute;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content .head {
        padding-top: 40px;
        position: relative;
        z-index: 1;
    }

    #hv_price_table .hv_content .hv_head_price .hv_head_content .head span {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag {
        padding: 0 0 20px;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price {
        display: block;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .sign {
        display: inline-block;

        font-size: 28px;
        font-weight: 400;
        vertical-align: middle;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .currency {

        font-size: 60px;
        font-weight: 300;
        letter-spacing: -2px;
        line-height: 60px;
        padding: 0;
        vertical-align: middle;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .price .cent {
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        vertical-align: bottom;
    }

    #hv_price_table .hv_content .hv_head_price .hv_price_tag .month {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 3px;
        vertical-align: bottom;
    }

    #hv_price_table .hv_content .hv_feature_list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #hv_price_table .hv_content .hv_feature_list ul li {
        font-size: 18px;
        padding: 15px 0;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table .hv_content .hv_feature_list ul li:hover {
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;

    }

    #hv_price_table .hv_content .hv_feature_list ul li .fa {
        padding: 0 10px;
    }

    #hv_price_table .hv_content .hv_price_btn {
        margin: 20px 0 32px;
    }

    #hv_price_table .hv_content .hv_price_btn a {
        border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        -webkit-border-radius: 50px;
        display: inline-block;
        font-size: 18px;
        outline: medium none;
        padding: 12px 30px;
        text-decoration: none;
        text-transform: uppercase;
    }

    #hv_price_table .hv_content,
    #hv_price_table .hv_content:hover,
    #hv_price_table .hv_content .hv_head_price .hv_head_content .head_bg,
    #hv_price_table .hv_content:hover .hv_head_price .hv_head_content .head_bg,
    #hv_price_table .hv_content .hv_head_price .hv_head_content .head h2,
    #hv_price_table .hv_content:hover .hv_head_price .hv_head_content .head h2,
    #hv_price_table .hv_content .price,
    #hv_price_table .hv_content:hover .price,
    #hv_price_table .hv_content .hv_price_btn a,
    #hv_price_table .hv_content:hover .hv_price_btn a {
        transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out 0s;
    }

    @media (max-width: 320px) {
    }

    @media (max-width: 767px) {
        #hv_price_table .hv_content {
            margin-bottom: 75px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        #hv_price_table .col-md-3 {
            float: left;
            width: 50%;
        }

        #hv_price_table .col-md-4 {
            float: left;
            width: 50%;
        }

        #hv_price_table .hv_content {
            margin-bottom: 75px;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) {
    }



    .text-center h1,
    .text-center h1 a {
        color: #7885CB;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
    }

    #hv_price_table_home ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: table;
    }

    #hv_price_table_home li {
        float: left;
    }

    #hv_price_table_home li + li {
        margin-left: 10px;
        padding-bottom: 10px;
    }

    #hv_price_table_home li a {
        display: block;
        width: 50px;
        height: 50px;
        font-size: 0px;
    }

    #hv_price_table_home .blue {
        background: #3498DB;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .emerald {
        background: #2ECC71;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .grey {
        background: #7F8C8D;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .midnight {
        background: #34495E;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .orange {
        background: #E67E22;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .purple {
        background: #9B59B6;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .red {
        background: #E74C3C;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .turquoise {
        background: #1ABC9C;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .blue:hover,
    #hv_price_table_home .emerald:hover,
    #hv_price_table_home .grey:hover,
    #hv_price_table_home .midnight:hover,
    #hv_price_table_home .orange:hover,
    #hv_price_table_home .purple:hover,
    #hv_price_table_home .red:hover,
    #hv_price_table_home .turquoise:hover {
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        transition: all 0.3s ease-in-out 0s;
    }

    #hv_price_table_home .divider {
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 20px;
    }

    #hv_price_table_home .divider span {
        width: 100%;
        display: table;
        height: 2px;
        background: #ddd;
        margin: 50px auto;
        line-height: 2px;
    }

    #hv_price_table_home .itemname {
        text-align: center;
        font-size: 50px;
        padding: 50px 0 20px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 40px;
        text-decoration: none;
        font-weight: 300;
    }

    #hv_price_table_home .itemnametext {
        text-align: center;
        font-size: 20px;
        padding-top: 5px;
        text-transform: uppercase;
        display: inline-block;
    }

    #hv_price_table_home .footer {
        padding: 40px 0;
    }

    .price-heading {
        text-align: center;
    }

    .price-heading h1 {
        color: #666;
        margin: 0;
        padding: 0 0 50px 0;
    }

    .hv_feature_list {
      min-height: 625px;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        min-height: 655px;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        min-height: 100%;
      }
    }

    .feature-breakdown-content {
        .branded-reports {
            //padding-top: 5rem;
          @include breakpoint($min: 0, $max: 767px) {
            padding-top: 1rem;
          }
        }
        .branded-report-image {
            width: 100%;
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/branded-reports.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 500px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                font: 700 24px/30px 'Roboto Condensed', sans-serif;
                background-size: 310px auto;
            }
            @include breakpoint($min: 0, $max: 767px) {
                display: none;
            }
        }
        .knowledge-vault {
            padding-top: 5rem;
          @include breakpoint($min: 0, $max: 767px) {
            padding-top: 1rem;
          }
        }
        .knowledge-vault-image {
            width: 100%;
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/knowledge-vault.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 500px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                font: 700 24px/30px 'Roboto Condensed', sans-serif;
                background-size: 310px auto;
            }
            @include breakpoint($min: 0, $max: 767px) {
                display: none;
            }
        }
        .branded-portal {
            padding-top: 5rem;
          @include breakpoint($min: 0, $max: 767px) {
            padding-top: 1rem;
          }
        }
        .branded-portal-image {
            padding-top: 5.5rem;
            width: 100%;
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/p-dashboard.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 400px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                font: 700 24px/30px 'Roboto Condensed', sans-serif;
                background-size: 310px auto;
            }
            @include breakpoint($min: 0, $max: 767px) {
                display: none;
            }
        }
        .api {
            padding-top: 5.5rem;
          @include breakpoint($min: 0, $max: 767px) {
            padding-top: 1rem;
          }
          .api-inner {
            padding-top: 3rem;
            @include breakpoint($min: 0, $max: 767px) {
              padding-top: 0rem;
            }
          }
            .cta-btn {
                background-color: #29c566;
                border-radius: 50px;
                display: inline-block;
                font-size: 18px;
                outline: medium none;
                padding: 12px 30px;
                text-decoration: none;
                text-transform: uppercase;
                margin: 20px 0 32px;
                color: #ffffff;
                text-align: center;
                width: 100%;


            }
        }
        .api-image {
            width: 100%;
            min-height: 400px;
            background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/api.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 400px auto;
            @include breakpoint($min: 768px, $max: 1199px) {
                font: 700 24px/30px 'Roboto Condensed', sans-serif;
                background-size: 310px auto;
            }
            @include breakpoint($min: 0, $max: 767px) {
                display: none;
            }
        }
    }

    .demo-button {
        background-color: #333333;
        color: #ffffff;
        display: table;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 50px;
        outline-color: -moz-use-text-color;
        outline-style: none;
        outline-width: medium;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .bottom_btn {
        background-color: #333333;
        color: #ffffff;
        display: table;
        font-size: 28px;
        margin: 60px auto 20px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
    }

    .demo-button:hover {
        background-color: #666;
        color: #FFF;
        text-decoration: none;

    }

    .bottom_btn:hover {
        background-color: #666;
        color: #FFF;
        text-decoration: none;
    }
}
.registration-list
{

    h3 {
        font-size:3em;
    }
    li {

    color:#ffffff;
    padding:30px 0 30px;
    font-size:1.3em;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;

    span {
        padding-top:30px;
    }

    i {
        color:#ffffff;

        font-size:1em;
        float:left;
        margin-right:20px;
    }
    }
}
.registration {
    h1 {
        color:#ffffff;
    }
    background:#334054 !important;

    .page-container .form-modal {
        border:none;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);

    }
}

.validation-page {
    .sights-bg-img {
        background-image: url('/static/banner-bg-black.jpg');
        background-position: center;
        background-size: cover;
        min-height: 350px;
    }
    .sights-bg-img {
        text-align: center;
        color: white;
        padding-top: 50px;
        h1 {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
        }
        .header-searchbox {
            max-width: 300px;
            margin: auto;
            margin-top: 20px;
        }
        .select-box {
            position: relative;
            z-index: 1;
            .hide {
                display: none;
            }
            .show {
                display: block;
            }
            .no-padding {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .options {
                position: absolute;
                background: white;
                width: 100%;
                padding: .375rem 0;
                border: 1px solid #ced4da;
                border-top: none;
                max-height: 200px;
                overflow-y: auto;
                .option-item {
                    text-align: left;
                    padding: 5px .75rem;
                    color: black;
                    &:hover {
                        background: #e8e8e8;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    header {
        text-align: center;
        padding: 50px 0;
        h2 {
            font-size: 2rem;
            padding: 0;
            margin: 0;
        }
        .head-image {
            margin: 50px 0;
            max-width: 600px;
        }
    }
    .topic {
        text-align: center;
        img {
            margin-bottom: 8px;
            max-height: 70px;
        }
        p {
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .solution {
        text-align: center;
        padding: 50px;
        h4 {
            font-size: 1.7rem;
        }
        p {
            margin: auto;
            max-width: 800px;
            font-size: 1.1rem;
        }
    }
    .narrow-content {
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
    }
    .tools-section {
        padding: 0 0 50px 0;
        .download-pdf-link {
            display: flex;
            justify-content: center;
            margin: 25px 0;
            font-size: 1.2rem;
            align-items: center;
            cursor: pointer;
            img {
                width: 30px;
                margin-right: 5px;
            }
        }
        .tools {
            text-align: center;
            h3 {
                font-size: 1.4rem;
            }
            img {
                max-height: 200px;
            }
            p {
                margin: 10px 0;
                font-size: 1.1rem;
            }
        }
        .tools-sights {
            text-align: center;
            h3 {
                font-size: 1.4rem;
            }
            img {
                width: 80%;
            }
            p {
                margin: 10px 0;
                font-size: 1.1rem;
            }
        }
    }
    .try-section {
        padding: 30px 0;
        background: #94E3F7;
        text-align: center;
        h5 {
            font-size: 1.7rem;
            margin-bottom: 25px;
        }
        .valid {
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        .inValid {
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        .warning {
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("/static/warning.svg");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        .loading-stage {
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("/static/loading.svg");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        .select-box {
            position: relative;
            z-index: 1;
            .hide {
                display: none;
            }
            .show {
                display: block;
            }
            .no-padding {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .options {
                position: absolute;
                background: white;
                width: 100%;
                padding: .375rem 0;
                border: 1px solid #ced4da;
                border-top: none;
                max-height: 200px;
                overflow-y: auto;
                .option-item {
                    text-align: left;
                    padding: 5px .75rem;
                    &:hover {
                        background: #e8e8e8;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .table-img-container {
        text-align: center;
        .table-img {
            margin: auto;
            text-align: center;
            width: 80%;
        }
    }
    .property-table {
        width: 100%;
        border-radius: 10px;
        th {
            background: #e8e8e8;
            padding: 10px 0;
        }
        td {
            background-color: white;
            padding: 8px 0;
            border-bottom: 1px solid #e8e8e8;
        }
        .thin-td {
            font-weight: 300;
        }
        .bold-td {
            font-weight: bold;
        }
    }
    .history-section {
        margin-top: 20px;
        background: white;
        .history-item {
            text-align: left;
            padding: 20px;
            border-bottom: 1px solid #e0e0e0;
            h6 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 5px;
            }
            .bold {
                font-weight: bold;
            }
        }
    }
    .property-information {
        padding: 25px 0;
        .center-text {
            text-align: center;
        }
        .auto-fill-section {
            .information-box {
                padding: 20px;
                border: 2px solid #eaeaea;
                border-radius: 2px;
                .head-title {
                    font-size: 1.4rem;
                    margin-bottom: 15px;
                }
                .information-box-key {
                    margin: 10px 0;
                    .key-value {
                        font-size: 2rem;
                        margin-bottom: 5px;
                        color: #252525;
                    }
                    .key-name {
                        font-size: 1rem;
                        color: #283c53;
                    }
                }
            }
        }
    }
    .new-auto-fill {
        .property-box {
            box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
            height: 100%;
            .feature-title {
                color: #4ab6ff;
                font-size: 1.2em;
                padding: 10px;
                font-weight: 300;
            }
            .property-box-data {
                display: flex;
                flex-wrap: wrap;
                .property-attr-data {
                    width: 50%;
                    padding-top: 8px !important;
                    padding-bottom: 8px !important;
                }
            }
            .listing-history {
                margin-top: 10px;
                .bold {
                    font-weight: bold;
                }
                .history-item {
                    display: flex;
                    margin: 10px 0;
                }
                .history-head {
                    display: flex;
                    margin: 10px 0;
                }
            }
        }
    }
    .avm-information {
        padding: 25px 0;
        .first-row-data {
            margin-bottom: 20px;
        }
        .avm-data-box {
            border: 2px #707070 solid;
            padding: 15px;
            border-radius: 2px;
            h5 {
                font-size: 1.2rem;
                text-decoration: underline;
            }
            .flex-warp-box {
                display: flex;
                flex-wrap: wrap;
                .half-box {
                    width: 50%;
                    font-size: 1rem;
                    margin: 7px 0;
                    .bold-result {
                        font-weight: bold;
                    }
                }
                .full-box {
                    width: 100%;
                    font-size: 1rem;
                    margin: 7px 0;
                }
            }
        }
        .information-box-key {
            margin: 10px 0;
            .key-value {
                font-size: 2rem;
                margin-bottom: 5px;
                color: #252525;
            }
            .key-name {
                font-size: 1rem;
                color: #283c53;
            }
        }
        .price-class {
            margin: 20px 0;
            h3 {
                font-size: 1.3rem;
                margin-bottom: 13px;
            }
        }
        .avm-data-box {
            margin-bottom: 15px;
        }
    }
    .market-information {
        padding: 25px 0;
    }
    .market-value-title {
        font-weight: bold;
    }
    .content {
        padding: 40px 0;
        .bold {
            font-weight: bold;
        }
        p {
            font-size: 1.1rem;
        }
        h6 {
            font-size: 1.7rem;
            margin-bottom: 12px;
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin: 18px 0;
            li {
                font-size: 1.2rem;
            }
        }
        .center-text {
            text-align: center;
            margin-bottom: 35px;
        }
        .left-text {
            margin-bottom: 35px;
        }
        .pg-img {
            max-width: 400px;
        }
        .information-img {
            max-width: 700px;
        }
        .align-center {
            text-align: center;
        }
    }
}

.house-selling-new-listings {
    .street-address-column {
        img {
        max-width: 5em;
        min-width: 3.5rem;
        margin-right: 1rem;
        float: left;
        }
    }
    thead {
        display: none;
    }
    .title {
        font-size: 16px;
        font-weight: 600;
        color: #354052;
        display: block;
        margin-bottom: 5px;
    }
}

.hiddle-mobile {
    display: block;
    width: 100%;
}

.only-mobile {
    display: none;
}

.local-map { 
    z-index: 0;
    .leaflet-container {
        height: 350px !important;
        width: 100%;
        overflow: hidden;
    }
  
    .leaflet-div-icon {
        background: transparent;
        border: none;
    }
}

.owner-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
        max-width: 50px;
    }
    .data-box {
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
        }
    }
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    .hiddle-mobile {
        display: none;
    }
    .only-mobile {
        display: block;
    }
}

.policy-page {
    table {
        tr {
            border-bottom: 1px solid #282e32;
        }
        td {
            width: 50%;
            vertical-align: initial;
            padding: 15px;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}
