@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin product-description-header-image-style($background-image) {
  width: 100%;
  min-height: 25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40rem auto;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/#{$background-image});
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    min-width: 8rem;
    min-height: 28rem;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

@mixin key-product-image-style($background-image) {
  width: 100%;
  margin: 4rem 0rem;
  min-height: 15rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/#{$background-image});
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    margin: 5rem 0rem 5rem 0rem;
    min-width: 8rem;
    min-height: 60%;
    background-position: center center;
    background-size: 20rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

@mixin key-product-image-icon($background-image) {
  width: 100%;
  margin: 2rem 0rem;
  min-height: 10rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/#{$background-image});
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 10rem auto;
@include breakpoint($min: 48rem, $max: 74.9375rem) {
  margin: 2rem 0rem 5rem 0rem;
  min-width: 8rem;
  height: 100%;
  background-position: center center;
  background-size: 7rem auto;
}
@include breakpoint($min: 0, $max: 47.9rem) {
  margin: 2rem 0rem 5rem 0rem;
  min-width: 7rem;
  height: 100%;
  background-position: center center;
  background-size: 9rem auto;
}
}

@mixin breakpointHeight($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-height: #{$min}) and (max-height: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-height: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-height: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

@mixin screen-size($size) {
  @media (min-width: map-get($min-breakpoints, $size)) and (max-width: map-get($max-breakpoints, $size)) {
    @content;
  }
  // @media (min-device-width: map-get($min-breakpoints, $size)) and (max-device-width: map-get($max-breakpoints, $size)) {
  //   @content;
  // }
}

$min-breakpoints: (
    xs: 360px
);

$max-breakpoints: (
    xs: 812px
);

