@import './mixin';

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #212529;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 47.9rem) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 48rem) { @content; }
  }

  @else if $class == md {
    @media (min-width: 62rem) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 75rem) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);
  @if $type == string {
  }
  @else if $type == number {
    $query: "all" !default;
    @if $min != 0 and $max != 0 {
      $query: "(min-width: #{$min}) and (max-width: #{$max})";
    }
    @else if $min != 0 and $max == 0 {
      $query: "(min-width: #{$min})";
    }
    @else if $min == 0 and $max != 0 {
      $query: "(max-width: #{$max})";
    }
    @media #{$query} {
      @content;
    }
  }
}

.main-heading {
  h1 {
    color: #1A456D;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    @include breakpoint($min: 0, $max: 47.9rem) {
      font-size: 22px;
    }
  }

  h4 {
    color:#1A456D;
    font-weight:300;
    font-size:1.2rem;
    text-align: center;
    margin: 0rem 10rem 5rem 10rem;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      margin: 0rem 0rem 1rem 0rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      margin: 0rem 0rem 1rem 0rem;
    }
  }

}

.prospector-availability-container {
  margin: 5rem 0 6rem 0;
}

/*Hero Section*/
.hero-section {
  width: 100%;
  color: #ffffff;
  padding-bottom: 1rem;

  .hero-product-inner {
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      margin: 0rem 0rem 0rem 3rem;
      padding: 1rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      margin: 0rem 2rem 0rem 2rem;
    }

    h3 {
      color: #1a1a1a;

    }
    h4 {
      color: #52af52;
      font-weight:600;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        display: none;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        display: none;
      }
    }
    h5 {
      color: black;
    }
    p {
      color: black;
    }
    ul {
      margin: 0rem 0rem 0rem -3.2rem;

    }
    li {
      font-weight:200;
      font-size:1rem;
      color: black;
      margin: 1rem;
      padding: 0rem 0rem 0rem 2.5rem;
      list-style: none;
      background-image: url("https://s3.eu-west-2.amazonaws.com/housevault-images/template/tick.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px;

    }

    .sample-btn{
      float: none;
      margin: 0.5rem 3rem 1rem 3rem;
      padding: 1rem;
      width: 80%;
      background: #00bacc;
      text-align: center;
    }
    .demo-btn{
      float: none;
      margin: 0.5rem 3rem 1rem 3rem;
      padding: 1rem;
      background: #52af52;
      width: 80%;
      text-align: center;
    }
    .offer-btn{
      float: none;
      margin-top: 3.5rem;
      margin-left: -11.5rem;
      padding: 0.6rem;
      max-width: 137%;
      background-color: #52af52;
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
      border-radius: 0.5rem;
      &:hover {
        background-color: #51c1f8;
        cursor: pointer;
        cursor: hand;
      }
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        margin-top: 3.5rem;
        margin-left: -15rem;
        max-width: 137%;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        margin: 3rem 2rem 2rem 2rem;
        padding: 1.5rem 1rem;
      }
    }

    .free-report-btn{
      float: none;
      margin-top: 2.5rem;
      margin-left: 2.5rem;
      padding: 0.6rem;
      max-width: 100%;
      background-color: #db0611;
      color: #ffffff;
      font-size: 1.2rem;
      text-align: center;
      border-radius: 0.5rem;
      &:hover {
        background-color: #51c1f8;
      }
    }

    a {
      color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.hero-product-image {
  width: 100%;
  min-height: 20rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31.25rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    min-width: 8rem;
    min-height: 28rem;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.hero-product-image-developers {
  width: 100%;
  min-height: 28.125rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/developers-header-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25rem auto;

}

.hero-product-image-investors {
  width: 100%;
  min-height: 20rem;
  background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/investors-header-image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  margin-left: 0rem;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    min-width: 8rem;
    min-height: 28rem;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

/*Product Info*/
.our-product {
  .row{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  width: 100%;
  color:#212529;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    height: 100%;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    height: 100%;
  }
  .sample-btn{
    float:left;
    margin:2.5rem 0 0 1.4375rem;
    padding: 1rem;
    width: 15rem;
    background: #00bacc;
    text-align: center;
  }
  .demo-btn{
    float:left;
    margin:2.5rem 0rem 0rem 0rem;
    padding: 1rem;
    background: #52af52;
    width: 15rem;
    text-align: center;
  }
}

.product-heading {
  font: 600 1.625rem/3.125rem 'Montserrat', sans-serif;
  text-align: left;
  color: #5bc8f9;
}

.product-inner {
 padding: 4rem 2rem;
  @include breakpoint($min: 0, $max: 47.9rem) {
    padding: 1em 2rem;
    display: none;
  }
  }

.illustration-1 {
  width: 100%;
  min-height: 38.125rem;
  background-image: url(/static/hv_illustration_1.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  @include breakpoint($min: 0, $max: 47.9rem) {
    background-image: none;
  }
}

.illustration-2 {
  width: 100%;
  min-height: 30rem;
  background-image: url(/static/hv_illustration_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23rem auto;
  overflow: hidden;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Montserrat', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.illustration-2-estate-agents {
  width: 100%;
  min-height: 30rem;
  margin: 3rem 0rem 3rem 0rem;
  background-image: url(/static/hv_illustration_2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23rem auto;
  overflow: hidden;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Montserrat', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.illustration-3 {
  width: 100%;
  min-height: 30rem;
  background-image: url(/static/hv_illustration_3.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 28rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Montserrat', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

.illustration-3-developers {
  width: 100%;
  min-height: 25rem;
  background-image: url(/static/hv_illustration_3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20rem auto;
  @include breakpoint($min: 48rem, $max: 74.9375rem) {
    font: 700 1.5rem/1.875rem 'Montserrat', sans-serif;
    background-size: 19.375rem auto;
  }
  @include breakpoint($min: 0, $max: 47.9rem) {
    display: none;
  }
}

/* FourReasonsComponent */
.four-feature-section {

  .four-feature-section-inner {
    h3 {
      color: black;
      text-align: center;
    }
    p {
      color: black;
      text-align: center;
    }
    li {
      color: black;
    }
    .sample-btn {
      float: left;
      margin: 0.625rem 0 0 1.4375rem;
      padding: 1rem;
      background: #00bacc;
    }
    .demo-btn {
      float: left;
      margin: 0.625rem 0 0 1.4375rem;
      padding: 1rem;
      background: #cc4d58;
    }

    .icons {
      color: rgba(62, 138, 198, 0.81);
      font-size: 8rem;
      text-align: center;
    }

    .four-feature-gif {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 31.25rem auto;
      text-align: center;

    }

    .four-feature-tag{
      padding: 3rem 0.5rem 3rem 0.5rem;
      text-align: center;
      font-size: 1.1rem;
      color: #1e2738;
      h3 {
        color: #5e5e5e;
      }
      p{
         color: #5e5e5e;
       }
    }
  }
}

/* More Than A Valuation Component */

.more-than-a-val{
  .row{
    padding-top: 2.5rem;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }

  .more-than-heading {
    padding-top: 4rem;
    font: 700 1.625rem/4.6875rem 'Montserrat', sans-serif;
    text-align: left;
    color: #5dc8f9;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      font: 700 1.125rem/2.5rem 'Montserrat', sans-serif;
      padding-top: 3rem;
    }
  }

  .foresight-at-finger-heading {
    padding-top: 1.5rem;
  }

  .valuation-reports-illustration-1 {
    min-height: 25.625rem;
    background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/3-page-report-example.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 28.25rem auto;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
      background-size: 21rem auto;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      background-size: 18rem auto;
      min-height: 13rem;
    }
  }

  .developer-reports-illustration-1 {
    min-height: 20rem;
    background-image: url(https://s3.eu-west-2.amazonaws.com/housevault-images/template/agents-header-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30rem auto;
  }
}


/* Knowledge is power */

.the-knowledge-section {
  .row{
    padding-bottom: 2.5rem;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      padding-top: 0rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      padding-top: 0rem;
    }
  }
  .knowledge-inner {
    padding-top: 2.5rem;
    @include breakpoint($min: 48rem, $max: 74.9375rem) {
      padding-top: 0rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      padding: 0rem 1rem;
    }
    .knowledge-heading {
      font: 700 1.625rem/4.6875rem 'Montserrat', sans-serif;
      text-align: left;
      color: #68cc5d;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        font: 700 1.125rem/2.5rem 'Montserrat', sans-serif;
      }
    }
  }

  .knowledge-image {
    padding-left: 6rem;
  }
}


/* Knowledge Banner */

.knowledge-banner {
  .row{
    padding-top: 1.5rem;
  }
  background-color: #ecebeb;

  span{
    margin-top: 1rem;
  }
  .sample-btn{
    position:center;
    margin:0.5rem;
    padding: 1rem;
    width: 15rem;
    background: #1e2738;
    text-align: center;
    color: white;
    border-radius: 3rem;
  }
  .demo-btn{
    @include breakpoint($min: 0, $max: 75rem) {
      display: none;
    }
    position:center;
    margin:0rem;
    padding: 1rem;
    background: #1e2738;
    width: 15rem;
    text-align: center;
    color: white;
    border-radius: 3rem;
  }
  .demo-btn:hover{
    background: #bf474b;
  }
  .sample-btn:hover{
    background: #bf474b;
  }
}

.knowledge-inner {
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;
  font-style: oblique;

}

.knowledge-heading {
  font: 600 1.625rem/3.125rem 'Montserrat', sans-serif;
  text-align: left;
  color: #68cc5d;
}



/* Test Drive Offer */

.test-drive {
  clear: both;
  background-color: #feca02;
  padding: 70px 0;
  @include breakpoint($min: 0, $max: 767px) {
      padding: 50px 0;
  }
  text-align: center;
  span{
    margin-top: 1rem;
  }

  .test-drive-heading {
    font: 600 2.5rem/3.125rem 'Montserrat', sans-serif;
    text-align: center;
    padding: 0rem 1.5rem 1rem 1.5rem;
    color: #1e2537;
    width: 100%;
  }
  h3 {
    font-weight:200;
    text-align: center;
    color: #1e2537;
    font-size:1.4rem;
    padding:1rem;
  }

  .offer-btn{
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    max-width: 500px;
    object-position: center;
    background-color: #1e2738;
    color: #ffffff;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 3rem;
    width: 100%;
  }

  .offer-btn:hover {
    background-color: #52af52;
    color: white;
    cursor: pointer;
    cursor: hand;
  }
}


/*Footer*/

footer {
  background-color: #212C40;
  color: #ffffff;
  .footer-links {
    margin-top: 1.25rem;
    h4 {
      color: #65D2FF;
      text-transform: uppercase;
      font-size: 1.125rem;
    }
    ul {
      padding-left: 0rem;
      li {
        list-style: none;
      }
    }
    a {
      color: #ffffff;
    }
  }
  .copyright {
    color: #65D2FF;
    margin-top: 1.25rem;
  }
}


/*Product Description Page */
.product-description-page {

  .knowledge-vault-header-image {
    @include product-description-header-image-style('kv-main.png');
  }

  .dashboard-header-image {
     @include product-description-header-image-style('d-main.png');
   }

  .avm-header-image {
    @include product-description-header-image-style('avm-main.png');
  }

  .lca-header-image {
    @include product-description-header-image-style('lca-main.png');
  }

  .portfolio-header-image {
    @include product-description-header-image-style('pt-main.png');
  }

  .prospector-tool-header-image {
    @include product-description-header-image-style('prospector-main.png');
  }

  .main-heading {
    @include breakpoint($min: 0rem, $max: 74.9375rem) {
      padding: 0rem 1rem;
    }
  }

  .product-main-description {
    padding: 2rem;
    text-align: left;
    font-weight: 300;
    line-height: 1.5;
    h2 {
      padding: 0rem 0rem 2rem 0rem;
    }
    h4 {
      padding: 1rem 0rem 1rem 0rem;
    }
    @include breakpoint($min: 0, $max: 47.9rem) {
      padding: 0.5rem;
    }
  }

  .product-key-points-section {
    .heading{
      padding-top: 2rem;
      font: 700 1.625rem/4.6875rem 'Montserrat', sans-serif;
      text-align: center;
      color: #5dc8f9;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        font: 600 1.25rem/3.125rem 'Montserrat', sans-serif;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        font: 700 1.125rem/2.5rem 'Montserrat', sans-serif;
        padding-top: 1rem;
      }
    }

    .key-product-inner {
      margin: 4rem 0rem;
      padding: 0rem 1rem;
      @include breakpoint($min: 48rem, $max: 74.9375rem) {
        margin: 2rem;
        padding: 0rem 0rem;
      }
      @include breakpoint($min: 0, $max: 47.9rem) {
        margin: 2rem;
        padding: 0rem 0rem;
      }
    }

    .key-icon-container {
      display: flex;
    }

    .key-product-facebook-image {
      @include key-product-image-style('kv-facebook.png');
    }
    .key-product-google-image {
      @include key-product-image-style('kv-google.png');
    }
    .key-product-retarget-image {
      @include key-product-image-style('kv-re-targeting.png');
    }
    .key-product-remarket-image {
      @include key-product-image-style('kv-re-marketing.png');
    }
    .key-product-test-image {
      @include key-product-image-style('kv-test.png');
    }
    .key-product-accurate-image {
      @include key-product-image-style('avm-accurate.png');
    }
    .key-product-branding-image {
      @include key-product-image-style('avm-branding.png');
    }
    .key-product-comparables-image {
      @include key-product-image-style('avm-comparable-evidence.png');
    }
    .key-product-how-we-value-image {
      @include key-product-image-style('avm-how-we-value-property.png');
    }
    .key-product-user-experience-image {
      @include key-product-image-style('avm-speed-user-experience.png');
    }
    .key-product-pt-overview-image {
      @include key-product-image-style('pt-overview.png');
    }
    .key-product-pt-batch-image {
      @include key-product-image-style('pt-batch-analyse.png');
    }
    .key-product-pt-better-image {
      @include key-product-image-style('pt-better-information.png');
    }
    .key-product-pt-access-image {
      @include key-product-image-style('pt-access-in-chosen-format.png');
    }
    .key-product-pt-tracker-image {
      @include key-product-image-style('pt-index-tracker.png');
    }
    /* Lead Capture Key Images */
    .key-product-lca-generate {
      @include key-product-image-style('lca-generate-leads.png');
    }
    .key-product-lca-compete {
      @include key-product-image-style('lca-compete-with-the-online-giants.png');
    }
    .key-product-lca-hard-work {
      @include key-product-image-style('lca-hard-work-is-done.png');
    }
    .key-product-lca-instant {
      @include key-product-image-style('lca-instant-accurate.png');
    }
    .key-product-dash-all-in-one {
      @include key-product-image-style('d-all-in-one-place.png');
    }
    .key-product-dash-branded {
      @include key-product-image-style('d-branded-versatile.png');
    }
    .key-product-dash-leads {
      @include key-product-image-style('d-lead-administration.png');
    }
    .key-product-dash-monitor {
      @include key-product-image-style('d-monitor-growth.png');
    }
    .key-prospector-tool-product-exclusive-image {
      @include key-product-image-style('prospector-01.png');
      margin: 0 !important;
      min-height: 18rem !important;
      background-size: 18rem auto !important;
    }
    .key-prospector-tool-product-automated-image {
      @include key-product-image-style('prospector-02.png');
      margin: 0 !important;
      min-height: 18rem !important;
      background-size: 18rem auto !important;
    }
    .key-prospector-tool-product-savetime-image {
      @include key-product-image-style('prospector-03.png');
      margin: 0 !important;
      min-height: 18rem !important;
      background-size: 18rem auto !important;
    }
    .key-prospector-tool-product-listings-image {
      @include key-product-image-style('prospector-04.png');
      margin: 0 !important;
      min-height: 18rem !important;
      background-size: 18rem auto !important;
    }
    .key-prospector-tool-product-hunted-image {
      @include key-product-image-style('prospector-05.png');
      margin: 0 !important;
      min-height: 18rem !important;
      background-size: 18rem auto !important;
    }

    h4 {
      color: #a1cc91;
    }

    p {
      color: #ffffff;
      font-weight: 300;
    }

    li {
      color: #ffffff;
      margin-left: -2.5rem;
      font-weight: 300;
      font-size: 1rem;
      padding: 0.3rem 0rem 0.3rem 2.5rem;
      list-style: none;
      background-image: url("https://s3.eu-west-2.amazonaws.com/housevault-images/template/tick.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 25px;
    }

  }

  .navy-blue-background {
    background-color: #212c40;
    //padding: 2rem 0rem;
  }

}
